<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>{{ The ThinkTank }}</title>
</head>
<body>

    I have an MD degree

    one of the most respected of all professions

    EXTREMELY well known for professionalism

    I also gratuaded from one of the most reputable medical schools in the world University of Toronto

    so i have some authority, yes
    <h1>
    </h1>

    <p> Thanks to Python, I can show you my super real legit and PROFESSIONAL degree.</p>
    <a href="hello/Junior > Check THIS out! </a>
    <p></p>
    <img src="/static/Tekken_8.jpg" style="width:40%" "></img>"
